<!--
  Generated template for the SightListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{"list" | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="done()">{{"save_for_later" | translate}}</button>
      <button ion-button icon-only (click)="deleteList()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div #map>
  </div>
  <div *ngIf="loading" margin-top text-center>
    <ion-spinner>
    </ion-spinner>
  </div>
  <div *ngIf="!loading">
    <div padding text-center margin-top>
      <h3>{{sightList?.name}}</h3>
      <p>{{sightList?.getSights().length}} {{"sights_in_this_list" | translate}}</p>
      <button ion-button icon-left (click)="openMap()"><ion-icon name="map"></ion-icon> {{"view_on_map" | translate}}</button>
    </div>
    <ion-list margin-top>
      <button detail-none ion-item *ngFor="let sight of sightList?.getSights()" (click)="openSight($event, sight)">
      <ion-thumbnail item-start>
        <img src="{{sight.thumbnail}}">
      </ion-thumbnail>
        <h2>
          {{sight.name}}
        </h2>
        <p>
          {{"rating" | translate}}: {{sight.rating}} - {{sight.address}}
        </p>
    <ion-icon item-end name="close" color="danger" (click)="delete($event, sight)"></ion-icon>
    </button>
    </ion-list>
  </div>
</ion-content>